[2017-05-25 07:19] omaracrystal opened #7 "permission denied: api-platform-generate-crud"
I keep running into permission issues.

permission denied: api-platform-generate-crud

[2017-05-25 07:26] mysiar commented on #7
what permission problem ?
Problem to access api or problem to write files on disk ?
What is your nelmio_cors -> allow_origin  settings ?

[2017-05-25 07:35] omaracrystal commented on #7
Hello mysiar - thank you for the quick response.

The error happens when I run $ api-platform-generate-crud http://localhost src/ --resource foo
on the command line.

[2017-05-25 07:45] mysiar commented on #7
paste whole error message here

[2017-05-25 07:49] omaracrystal commented on #7
<img width="527" alt="screen shot 2017-05-25 at 1 33 20 am" src="https://cloud.githubusercontent.com/assets/11908147/26441093/6637b2ee-40ec-11e7-9d56-1e9361eadd25.png">

[2017-05-25 07:55] omaracrystal commented on #7
I am trying this out on two different computers (both Max OS X) one had the permissions error while the other has this 'FetchError'

I get this error:
`my-app git:(master) ✗ api-platform-generate-crud http://localhost:8888 src/ --resource listings
{ FetchError: request to http://localhost:8888 failed, reason: connect ECONNREFUSED 127.0.0.1:8888
    at ClientRequest.<anonymous> (/Users/crystalomara

[2017-05-25 07:58] mysiar commented on #7
I have it installed globally using (works on Linux and OSX)
[code]
[code]
/usr/bin
Permission error looks like you have some issue that is not related to api-platform-generate-crud

regarding second error
run this endpoint url in web browser and check if you have api available

[2017-05-25 08:16] omaracrystal commented on #7
Okay, I am not exactly sure what you mean by "this endpoint url"... but I'm am assuming you are referring to the `http://localhost:8888`? I went to that endpoint and there is no connection... I thought I was setting up the localhost on this line.

So based on that I then ran $ npm start .... and it's running on `http://localhost:3000`
... so then I updated the script to read: `api-platform-generat

[2017-05-25 08:39] dunglas commented on #7
@omaracrystal can you paste the output of `curl -v http://localhost:3000`?

[2017-05-25 18:27] omaracrystal commented on #7
I think after looking at this for a long time - the api that I am trying to create with this CRUD app isn't a "Hypermedia-Driven Web API" -- I guess this is where I'm getting the error "Cannot read property 'match' of null"

[2017-05-25 18:30] mysiar commented on #7
This app is to create components from api-platform generated API

[2017-05-25 19:24] omaracrystal commented on #7
Sorry I thought this boilerplate was for the reverse - to create a CRUD API generator

[2017-07-30 10:46] sh41 opened #11 "Incorrect path generated for calls to API"
Reproduction steps:
Install as per README.
run
[code]
Result:
[code]
Expected result:
[code]
When the react-app is run a message of `Unexpected token < in JSON at position 0` appears on the list page and on submission of a create form.

This can be manually fixed by correcting the strings in the relevant `create.js` and `list.js` files.

[2017-07-30 11:20] mysiar commented on #11
@sh41 did you try to run it on your own api or just above demo ?

[2017-07-30 11:29] sh41 commented on #11
@mysiar I've not succeeded in getting generation to work correctly against my own API so was trying against the API Platform demo to check that I am using the tool correctly. I think that I may have a separate issue with my own API as it is an API-platofrm install that is under a subroute and I think that is causing an issue somewhere, I'm still researching that problem though.

If the problem is

[2017-07-30 11:54] mysiar commented on #11
@sh41 looks like generator doesn't procude right code but it might be the problem with demo version.
I will try to expose my demo to Internet

[2017-07-30 16:00] mysiar commented on #11
@sh41 try this link http://api.geomysiar.pl
I just generated all files and everything is ok

[2017-07-30 16:04] sh41 commented on #11
Thanks for your help - looks like it must be something my particular environment:
[code]

[2017-08-10 17:18] mysiar commented on #11
tested on two different api-platform instances and all looks ok

https://demo.api-platform.com
[code]

http://api.geomysiar.pl
[code]

[2017-08-11 21:05] sh41 commented on #11
Thanks again, I will try to isolate what is different on my setup so that I can document it for future users. We run node in a docker container which is still around somewhere so should be easy enough to find if it is a problem with a particular version of a package.

[2017-08-14 10:21] mysiar opened #12 "Wrong links to nested entities"
Wrong routes gnerated for nested entities
generated ```https://api-front.geomysiar.pl/2/show/%2Fbooks%2F2```
instead ```https://api-front.geomysiar.pl/reviews/show/%2Fbooks%2F2```

[2017-08-14 15:28] sh41 commented on #11
I've gone back and run this in a clean docker container and get the same result:
[code]
and in the output of grep I see:
[code]

by going through the code and adding some console logs I narrowed it down to the `guessNameFromUrl` function in https://github.com/dunglas/api-doc-parser/blob/0a3dade659511e5d3c64cd5e51bbef147b7824a7/src/hydra/parseHydraDocumentation.js#L14

[code]
works fine, but if the

[2017-08-14 15:43] mysiar commented on #11
it is not expected behavior, I work win node 6, will try to run test on 7 & 8

[2017-08-14 15:49] sh41 commented on #11
Have run the same in docker containers for versions node:7.10.1, node:6.11.2 and node:4.84 and had the same result. In each case removing the trailing slash resolves the problem.

[2017-08-15 08:41] mysiar commented on #12
Fixed in https://github.com/api-platform/generate-crud/pull/13

[2017-08-15 08:45] mysiar commented on #11
@sh41 it is not expected behaviour but generator README says
[code]
and there is no traililing slash

[2017-08-15 10:12] mysiar commented on #12
didn't work with prefixed api

[2017-08-15 10:15] mysiar commented on #12
fixed in https://github.com/api-platform/generate-crud/pull/14

[2017-08-15 10:15] #12 closed

[2017-09-05 10:01] #7 closed

[2017-09-05 10:05] dunglas commented on #7
The CRUD API "generator" (it is dynamic, it doesn't generate anything in fact) is github.com/api-platform/core

[2017-09-06 13:58] meyerbaptiste opened #17 "Automatically normalize numbers"

[2017-09-06 13:58] meyerbaptiste opened #18 "Generate E2E tests"

[2017-09-06 13:59] meyerbaptiste opened #19 "Add a React Native generator"

[2017-09-14 13:46] soyuka opened #24 "existsSync used in tests is deprecated"
Use polyfil

[2017-09-15 10:04] alOneh opened #25 "Using axios lib instead of fetch()"
What about using [Axios](https://github.com/mzabriskie/axios) ? It provides a good API to make HTTP requests and can be used to simplify things like pagination.

For example, to get the second page of my Book resource :
[code]

With fetch() we don't have this flexibility and we need to provide the full url each time.

[2017-09-15 10:05] alOneh opened #26 "Add a VueJs generator"

[2017-09-15 10:06] alOneh commented on #26
I am working on this one.

[2017-09-15 10:17] soyuka commented on #25
you mean in the generated code?

IMHO it's better to be the less opinioned possible on what modules are being used in the resulting code. However, I'd suggest that we always use a module that can easily be replaced with the one of the end-user choice.

For example:

[code]

[code]

[2017-09-15 15:13] dunglas commented on #25
I agree with @soyuka. Axios is a very good lib, but as it's a scaffolding tool, we want minimal dependencies.

[2017-09-15 17:12] mysiar commented on #25
we need to concentrate right now on new functionalities not refactoring existing working code

[2017-09-15 17:12] #25 closed

[2017-09-19 10:27] alOneh commented on #25
I understand and respect your choice.
@soyuka we can maybe create an issue to move the `fooFetch.js` to the utils folder, it will simplify generated code as *Fetch are always the same and let the user extend the generated fooFetch.js to create some methods helpers.

For example:

[code]

What do you think ?

[2017-09-19 10:30] alOneh opened #30 "Allow providing custom templates"
This tool is very useful but it can be very useful to allow passing a path for custom scaffolding templates, and fallback to the default one if not set.

[2017-09-19 10:33] alOneh opened #31 "Support embedded relations"

[2017-09-19 10:35] mysiar commented on #31
could you elaborate what exactly do you mean by that ?

[2017-09-19 10:42] alOneh commented on #31
Oops forget about that !

[2017-09-19 10:42] #31 closed

[2017-09-19 10:53] dunglas commented on #30
It would be a nice improvement! Do you want to work on this?

[2017-09-19 12:19] soyuka commented on #25
:+1:  @alOneh we should only need a `fetch` util indeed.

[2017-09-19 15:01] #30 closed

[2017-09-25 07:15] #26 closed

[2017-09-27 20:10] piotrbrzezina opened #39 "version to 0.1.12"
Hi

It would be very cool if the recent changes related to VUE were already tagged (I'm starting my adventure with this generator)

[2017-09-28 16:53] mysiar commented on #39
@piotrbrzezina new version is out, enjoy :)

[2017-09-28 16:53] #39 closed

[2017-09-28 18:01] mysiar opened #40 "Add Angular generator"
Add Angular generator to API-Platform client-generator.
With React, Vue.js and shortly coming React Native this could be the most comprehensive front app support for API-Platform

[2017-09-28 19:08] dunglas commented on #40
There is an existing community project: https://github.com/momenttech/lysis, see https://github.com/momenttech/lysis/issues/1.

(ping @lysis)

[2017-09-28 19:42] wildan3105 commented on #17
Hi, I'd love to work on this. What do you exactly want? Can you give me some hint or example? thanks!

[2017-09-30 07:48] mysiar commented on #19
First preview of List component
![cg-rn-list1](https://user-images.githubusercontent.com/13708162/31043883-75b61f48-a5c4-11e7-9808-b2ca75423214.gif)

[2017-09-30 08:41] mysiar commented on #19
First preview of Show component
<img width="280" alt="cg-rn-show1" src="https://user-images.githubusercontent.com/13708162/31044248-f87c29ac-a5cb-11e7-981d-a3bc0ee1563e.png">

[2017-10-02 10:00] flavienaudin opened #41 "Resources' routes components are not displayed"
Hi,
I followed the doc to generate a react client :
- create React react app and install composants using yarn.
- add the bootstrap css link
- generate the files for all the resources (book and review) of my local API (based on api-platform tutorial)
- register the reducers and components in the index.js as the give example (see the code below)

But result displays only the `<h1>Not found</h1>` wi

[2017-10-02 12:02] mysiar commented on #41
check this out:
https://github.com/mysiar/api-platofrm-genereate-crud-demo-app/tree/master/skeleton

this app is running at:
https://api-front.geomysiar.pl/

[2017-10-02 14:55] flavienaudin commented on #41
Thank you Mysiar, I misunderstood how the index.js from the doc should work. Your example helps me (due to/even if I had to adapt scripts call by run_me.sh to windows).
The page is displaying "Not Found" for "/" url and the books list for "/books/" url (for example). IS the use of variable {bookRoutes}  just for accepting url related to books ?

I will learn more about React, I may not know enough

[2017-10-02 15:28] mysiar commented on #41
[code]
then
[code]

routes are generated, all you need is just import them and use

[2017-10-02 15:40] #41 closed

[2017-10-02 15:59] mysiar commented on #11
solved at https://github.com/api-platform/api-doc-parser/pull/18

[2017-10-02 15:59] #11 closed

[2017-10-09 20:19] pierre-H opened #52 "[IDEA] Add custom generator support"
Hello,

It would be great to add an option to support custom generator with custom templates.

For example : I often use Semantic UI for React in TypeScript in multiples projects. So I'd like to create my own generator with all templates needed and to use it like this `generate-api-platform-client --generator=reactSemanticTs`.

I don't know what's the best way to support this (specifically how to

[2017-10-10 07:48] soyuka commented on #52
You can use a custom directory for templates already https://github.com/api-platform/client-generator/pull/32. Not sure how we could allow custom generators because they are really specific. Feel free to contribute with your own generator.

[2017-10-10 13:16] pierre-H opened #53 "React template : unknown prop"
Hello,

I just find the `item` prop in the Create component which is not defined in the proptypes and it's never defined :

https://github.com/api-platform/client-generator/blob/c7af287d38e903c761024a551e77f95459419f5e/templates/react/components/foo/Create.js#L30

Is it normal ?

Thank you !

[2017-10-10 15:00] pierre-H commented on #53
Idem for the `created` prop in the Update component :
https://github.com/api-platform/client-generator/blob/c7af287d38e903c761024a551e77f95459419f5e/templates/react/components/foo/Update.js#L47

Not defined in proptypes

[2017-10-11 11:15] dunglas commented on #53
It's definitely a bug, from the very beginning.

[2017-10-13 12:23] sbacem commented on #40
Any news for this ?

[2017-10-13 21:01] mysiar commented on #40
@sbacem you are more than welcome to develop this if you are interested

[2017-10-17 21:56] sbacem commented on #40
I am very interested, but i haven't time to do it 😞 😞

[2017-10-18 07:52] dunglas commented on #40
You can try https://github.com/momenttech/lysis

[2017-10-23 19:12] Dannebicque opened #56 "Error when I try to generate the VueJs Admin"
Hello,

I Try to use the VueJs generator. But no success for the moment.

I have this

[code]

This link http://api-intranet:8888/web/app_dev.php works well in browser.
I Have already use this generator with success...

I don't understand what I forget ?

Thanks

[2017-10-23 19:35] dunglas commented on #56
Don't you have more logs?

Can you try to run `curl -v http://api-intranet:8888/web/app_dev.php` from the same shell?

[2017-10-23 19:35] dunglas commented on #56
(Btw you should configure your vhost to point to `web/`, you should never expose publicly parent directories of web)

[2017-10-23 19:38] Dannebicque commented on #56
Thanks for your answers. It works.
I have all the formats (JSON, JSONLD, ...) and clear the cache and now it is OK.

Thanks.

[2017-10-23 19:40] #56 closed

[2017-11-29 16:04] toby-griffiths opened #59 "How might I handle authentication"
Hi there,

Just started playing with the generator (for React.js), and think it's pretty awesome.

My current problem is that my API is protected using JWT.

Can you advise how I might be able to add log in functionality?  I'm pretty new to React.js.

[2017-11-29 19:37] jon-ht opened #60 "[VueJS] Missing violations state on store"
Hello,

Thanks for this awesome project.

I think the property `violations` is missing on the generated `create.js` module.

I noticed that when I submit a create form, errors are displayed on top of the form and not after each fields.

**Without violations state**
![image](https://user-images.githubusercontent.com/17051512/33394119-a53c3296-d541-11e7-8e0e-cd9066451482.png)

**With violations stat

[2017-11-29 20:06] dunglas commented on #60
Hi,

Thanks for the report. Would you mind opening a Pull Request?

[2017-11-30 07:03] jon-ht commented on #60
@dunglas I'm not comfortable with open-source projects. I prefer to let you do

[2017-12-01 06:31] mysiar commented on #60
@dunglas if this is only the change to do it I will fix it

[2017-12-01 07:06] mysiar commented on #60
@jon-ht please check the master branch, it should be fixed now

[2017-12-02 10:31] jon-ht commented on #60
It's OK for me, thank's :)

[2017-12-02 10:31] #60 closed

[2017-12-03 14:33] jon-ht opened #62 "[VueJS] Wrong payload name for mutations"
There is a mistake in file [update.js](https://github.com/api-platform/client-generator/blob/master/templates/vue/store/modules/foo/update.js#L126).

[code]

should be

[code]

Without that, when I watch for `updateLoading: function (loading) { // some code }`, `loading` is `undefined`

[2017-12-03 15:31] mysiar commented on #62
@jon-ht check the master branch

[2017-12-03 19:23] jon-ht commented on #62
Thank's for the quick fix @mysiar

[2017-12-03 19:23] #62 closed

[2017-12-04 09:56] mgiraud opened #64 "[Vuejs] Documentation to import modules should not use brace bracket"
When generating a module for VueJs, the generated documentation shows
[code]
However the `./store/modules/article/index.js` has an `export default {}`
so the code should be
`import article from './store/modules/article/';`

[2017-12-11 10:00] zhang6longfei opened #66 "React Mobx Support"
The react mobx is very popular.please support.

[2017-12-11 12:20] dunglas commented on #66
@zhang6longfei would be nice. Do you want to start working on this.

[2017-12-12 01:15] zhang6longfei commented on #66
@dunglas Yeah.i want.but my javascript programming skills are poor.

[2017-12-29 21:59] christoph-hautzinger opened #68 "TypeError: Cannot read property 'status' of undefined on generating frontend code"
Hallo I'm trying to get the client code generator running:

I have an api which returns something like this:

[code]

but running the generator results in an error:
[code]

the same error as on any non existant api endpoint url:

calling the demo code works:
[code]

my node version is
[code]
Do i need some special kind of configuration? didn't get it from the docs.

[2017-12-31 06:44] mysiar commented on #68
try to run this on your api
https://www.npmjs.com/package/api-platform-doc-parsing-check

[2017-12-31 13:41] christoph-hautzinger commented on #68
thanks for your reply!

actually, it is the same problem:
[code]

the demo api runs smoothly:
[code]

[2018-01-03 09:18] mysiar commented on #68
you must have a problem with your son api documentation.
Try postman to see what do you get for documentation and compare with demo api

[2018-01-04 18:26] brunoreis opened #69 "What is the roadmap of this project?"
I asked this question on the admin component issues, but it sure fits better here.

The project description says: "Generate a CRUD application built with React, Redux and React Router from an Hydra-enabled API", but I see you already have a Vue generator in place and React Native and Admin on Rest also in progress.

So, I could not tell if your main goal is to have a lot of simple generators or ma

[2018-01-29 09:24] #24 closed

[2018-02-23 15:06] riwanab opened #70 "[VUEJS] - [vuex] unknown action type and getter type"
When the Entity of API (PHP Class) is "Book", the client generator for vue.js works and the interface is working too.

But when I change "Book" Entity for other name ("Boo", "Booka", ...), the client generator still working, but the interface is bugging.

I got errors in the store (vuex) :
[vuex] unknown action type: boo/list/getItems
[vuex] unknown getter: boo/list/loading
[vuex] unknown getter:

[2018-02-23 15:13] riwanab commented on #70
I found my problem:

When you

[2018-02-23 15:13] #70 closed

[2018-02-23 15:22] riwanab commented on #70
In the main.js I didn't know that the variable name is important for the store and route :

[Wrong version] :
import **book** from './store/modules/**boo**/index';
import **bookRoutes** from './routes/**boo**';

[Good version] :
import **boo** from './store/modules/boo/index';
import **booRoutes** from './routes/boo';

The good thing to do is to copy/paste the Vue.js code that client-generator sho

[2018-03-07 10:44] magdoss opened #71 "attribute must be "float", "string" given."
bonjour, j'utilise vuejs  CLIENT GENERATOR COMPONENT ,
j’essaye de crée un nouveau enregistrement a partir de l'interface
![](https://i.stack.imgur.com/6RC8F.png)

que dois je faire pour résoudre ce problème ?

[2018-03-18 02:23] roberto910907 opened #74 "Are generated routes exposed to javascript?"
I want to call the route from javascript using something like `Routing.generate('book_list');` in [FOSJsRoutingBundle](https://symfony.com/doc/master/bundles/FOSJsRoutingBundle/usage.html#generating-uris) instead of hardcoding the url `/api/books`. Is this possible?

[2018-03-22 00:42] mysiar commented on #74
client-generator is using [api-doc-parser](https://github.com/api-platform/api-doc-parser) to parse api documentation and create all the components for api endpoints.
You need to check api documentation.
Good start is
[code]
but you can use Postman to get more information

[2018-04-04 16:28] nachomozo opened #75 "Can I add handlebars helpers to my custom template?"
I'm developing a custom template for Vue using Vuetify instead of Bootstrap. But I have a problem.

The original `Form.vue` template, renders all input types the same way:
[code]
But Vuetify uses directives for de different types so I need to use a compare helper like this:
[code]
But I haven't compare helper available
[code]
The "if" helper only works for one variable.

`AdminOnRestGenerator.js`

[2018-04-13 17:06] sroze commented on #69
Hello @brunoreis! As most of the open-source projects, it is driven by the community, which means by you as well. Therefore, we don't have a precise set of things to do on the roadmap for this library. It started as something to help developers getting started with clients for ApiPlatform (obviously in an agnostic manner but still, you understand the idea).

If you see any direction in which you w

[2018-04-14 00:11] danaki commented on #68
Got the same error while following Book/Review tutorial. What is postman?

[2018-04-17 10:35] mysiar commented on #68
@danaki https://www.getpostman.com

[2018-06-07 20:33] npotier commented on #59
Hello @toby-griffiths I don't know if you have found an answer to your question, but this link might help : https://api-platform.com/docs/admin/authentication-support

[2018-06-08 10:12] toby-griffiths commented on #59
I've managed to get this working now, thanks @npotier.  I've implemented my own auth process, and custom fetch that uses the stored token.

[2018-06-08 10:12] #59 closed

[2018-07-04 12:22] greg606 opened #82 "wrong urls on list"
when I'm on http://localhost:3000/hotels I get
http://localhost:3000/create instead of http://localhost:3000/hotels/create
and it's the same with all the links.
links are correct for the url http://localhost:3000/hotels/ (trailing slash)

[2018-07-04 12:35] greg606 commented on #82
thank you. so,
it's not really a bug but something to take into account when designing app navigation (then it should be ok)

[2018-07-04 12:35] #82 closed

[2018-07-05 09:50] greg606 opened #83 "Warning: <BrowserRouter> ignores the history prop. To use a custom history, use `import { Router }` instead of `import"
Unfortunately when I do this it it stop working correctly

[2018-07-06 10:36] batarian71 opened #84 "Logo"
Hi. I am a graphic designer. I would like to volunteer to design a logo for this repository that you can use in the readme file. What do you say?

[2018-07-06 10:56] dunglas commented on #84
Hi, it will be very appreciated! But there is already https://api-platform.com/static/scaffolding_component.c98ccb13.svg

[2018-07-06 10:58] batarian71 commented on #84
Okey sir thank you.

[2018-07-21 19:01] mysiar commented on #19
new contributor to this issue: potik1

[2018-10-31 07:15] dunglas opened #89 "Convert the React generators to TypeScript"
Now that [Create React App](https://twitter.com/sulco/status/1057222100128329729) supports TypeScript, I think it makes sense.

[2018-11-03 16:56] mysiar commented on #89
But this will be set of new templates not changing current react templates to TS, right?

[2018-11-03 16:58] mysiar commented on #75
You can easily add new handlebar helpers. Create your own generator, extend current base and define all you need

[2018-11-03 16:59] mysiar commented on #19
Done

[2018-11-03 16:59] #19 closed

[2018-11-05 13:34] soundyogi opened #90 "How to make it work with swagger.io petstore example."
My team does not (yet) use api-platform as I have to build an mvp showcasing whats possible using their legacy swagger system.

I have .json files with the documentation, can they be used to generate the app aswell?

Thanks in Advance

[2018-11-05 13:50] mysiar commented on #90
this generator works over API documentation in below formats
https://demo.api-platform.com/docs.jsonld
https://demo.api-platform.com/docs.json

Check above out versus your documentation

[2018-11-05 15:03] soundyogi commented on #90
The (not helpful) error in question:
```TypeError: Cannot read property 'properties' of undefined```

Command used:
```generate-api-platform-client --format swagger https://petstore.swagger.io/v2/swagger.json ./BUILD```

Thanks you very mich for the help :)

[2018-11-08 08:46] dunglas opened #91 "React Native: display a message reminding to add routes"
It is currently not asked to add routes to the router.

[2018-11-08 09:41] dunglas opened #92 "React Native: the show view displays stale data after an update"

[2018-11-08 09:42] dunglas opened #93 "React native: display the id"
For parity with the React generator, I think we should display the ID by default (up to the developper to remove it if needed)

[2018-11-09 09:50] mysiar commented on #90
The client-generator is based on [api-doc-parser](https://github.com/api-platform/api-doc-parser) that parses documentation of API created by API-Platform.
If you want to use it with different kind of API look inside the parser and check what would you need to change

[2018-11-09 09:50] #90 closed

[2018-11-09 09:58] dunglas commented on #90
Unfortunately, I don't think patching api-doc-parser is enough. api-doc-parse already supports Swagger v2, but client-generator has some hardcoded conventions regarding the IDs that are specific to JSON-LD.
To fully support Swagger, this should be abstracted.

[2018-11-15 22:35] soundyogi commented on #90
I managed to get api-doc-parser working by adding some conditionals.
But of course as @dunglas said client-generator fails to generate the full spec cause it is tailored to api-platform.

Honestly I dont see why you guys coded it that way cause as I see swagger 2 support at least for api-doc-parse would have not been that hard - but I understand that you support your product.

Which I like btw. I

[2018-11-15 22:56] dunglas commented on #90
Great, could you open a PR on `api-doc-parser` with your change to make the lib more robust?

Probably a bit, but it's especially tailored for the [Hydra](https://hydra-cg.org) spec. `api-doc-parser` has been first designed for Hydra. Swagger support came very recently (and it's why it is not mature yet).

It's not the story behind this. Ofc we test with API Platform first, but a main goal has alw

[2018-11-15 23:09] soundyogi commented on #90
I would be happy to file PR of the result, but honestly at the moment I am still finding out what makes swagger 2.0 - 'officially' swagger 2.0.
(You know standards)
For example I have different results with yout examples, the one from swagger.io and the docs generated from our backend. :_D

This is probably one of the reasons why OpenAPI was created.

Also that was no criticism, I am just recently

[2018-11-15 23:34] dunglas commented on #90
There is an "official" Swagger validator tool, we use it to test that the generated file in API Platform Core is valid: https://github.com/api-platform/core/blob/master/.travis.yml#L54

Unfortunately, sometimes the Swagger petstore itself is not valid (according to the validator...).
Anyway, as the motto said: "Be liberal in what you accept, and strict in what you produce", so while `core` must pr

[2018-11-16 00:05] soundyogi commented on #90
Then I will try to produce a defensive fix that will warn about potential problems maybe?

Yeah I noticed that the Validator did produce curious results.
(Your Examples are valid indeed!)

Thanks Againm you will hear from me in api-doc-parser soon. :)

[2018-11-19 21:10] olix21 opened #95 "Vue project - ENTRYPOINT is undefined"
Hello,

I'm trying to use api platform from a SF flex installation.
It's working great but I've an issue with the client side in Vue.

My issue is related to the API endpoint. I don't have the `api` suffix.

I see a `import { ENTRYPOINT } from '../config/entrypoint';` in the `src/utils/fetch.js` but this is not working.

Do I miss something or the code is broken?

[2018-11-19 23:03] dunglas commented on #95
It's probably my fault, because of the latest changes I made in the lib.
Does the file `../config/entrypoint` exists? If yes can you paste its content please?

[2018-11-20 17:38] olix21 commented on #95
It exists:
`export const ENTRYPOINT = 'http://127.0.0.1:8000/api';`

It seems okay, but when it's executed in the `fetch.js` (`new URL(id, ENTRYPOINT).toString()`) it has no value

[2018-12-29 08:09] strobox opened #96 "Discuss and vote for new features ✅"
This project is great 🔥 But if it will be somehow extensible (through plugin system for example) it will became more popular.

For example
[code]
So, instead redux-form and plain html markup we can use
- [react-jsonschema-form](https://github.com/mozilla-services/react-jsonschema-form) 5506 ⭐️ on github and  15000+ weekly installs on npm
- [formik](https://github.com/jaredpalmer/formik) ~1200⭐️ an

[2019-01-05 11:54] ghanbari opened #97 "Unable to find the URL for entrypoint"
I have a resource that collection operation is empty:
[code]

when i want to generate client code, it fail and can not generate anythings for this & other resource:
[code]

[2019-01-06 20:43] ghanbari commented on #95
thats beacuse ENTRYPOINT dont have end slash, it must be `'http://127.0.0.1:8000/api/'` and you must change your actions, page url must not start with a slash, for example:
file: assets/store/modules/user/list/actions.js
[code]

must convert to:
[code]

[2019-01-06 20:58] ghanbari commented on #95
the easiest way(but not good) is to change fetch.js file, instead of creating url with `new URL(id, ENTRYPOINT).toString()`, use: `ENTRYPOINT + id`

[2019-01-08 13:00] Fabious commented on #95
I have made a proposal for a better solution

[2019-01-11 11:16] dunglas commented on #97
Did you followed these steps? https://api-platform.com/docs/client-generator/troubleshooting/

[2019-01-11 11:16] dunglas commented on #95
Fixed by #98

[2019-01-11 11:17] #95 closed

[2019-01-11 11:18] dunglas opened #100 "Add support for Mercure in the Vue.js app"
The code related to Mercure added to the React app could easily be ported to Vue.

[2019-01-11 14:32] #97 closed

[2019-01-25 17:22] flyfishMT opened #104 "TypeError: Cannot read property 'properties' of undefined"
Hi, I am trying to generate a react client from a swagger API.

`npx @api-platform/client-generator http:/myapi/swagger/docs/v1  src/ --resource Item --format swagger`

I get the error

I stepped through this  a little and this error occurs here:

[code]

What happens, is it attempts to get fieldNames from

[code]

However, the Item endpoint does not return an Item object, it returns "ApiResponse[

[2019-01-27 19:19] dgoujard commented on #97
Hello, i have the same issue with some collection operations empty and some customs DataPersister (https://api-platform.com/docs/core/dto/#creating-a-service-oriented-endpoint).

When i try to use admin or generate client i got the same error.
In the admin i got this similar error :
`Error: Unable to find the URL for "https://localhost:8443/docs.jsonld#Entrypoint/repoSyncRequest".
    at parseHydr

[2019-01-28 06:51] ghanbari commented on #97
@dgoujard Hi, add `get` collection operation to your `RepoSyncRequest` resource.

[2019-02-12 16:51] gusarov112 commented on #104
And response.definitions[title].required does not exists in my swagger API.
[code]
The above triggers error because it cannot call method find() on undefined

[2019-02-12 17:13] dunglas commented on #104
@gusarov112 thanks for investigating! Would you mind to provide a PR to fix this?

[2019-02-13 12:16] gusarov112 commented on #104
@dunglas Sorry, but I don't know whether this is API problem, or generator problem? Maybe I should fix my API somehow? But of course, it would be better to create a response.definition object structure with defaults, and hydrate response.definition with not existing but required sub-resources with dummy structured object. So you don't need checks on undefined.

[2019-02-13 12:37] dunglas commented on #104
Even if the generated doc isn't valid (we need to investigate this too), the client library should not fail anyway ("Be conservative in what you send, be liberal in what you accept"). So we need to patch the client library at least.

[2019-02-14 08:18] sm2017 opened #105 "Swagger not works"
Run
[code]

We have error

--

[2019-02-27 18:53] mysiar commented on #93
PR #106

[2019-02-27 18:58] #75 closed

[2019-02-27 18:59] #74 closed

[2019-02-27 19:01] #93 closed

[2019-03-06 01:50] odyu commented on #105
@sm2017
It worked with this.
`https://demo.api-platform.com/` -> `https://demo.api-platform.com/docs.json`

[2019-03-06 05:45] #105 closed

[2019-03-18 23:39] luca-nardelli opened #108 "Cannot find module 'lodash'"
I've tried to run the command through `npx` on my machine but it doesn't work.
[code]
If I install the package globally I get the following error

[code]

However, I can solve this by globally installing `lodash`

[2019-03-19 06:00] dunglas commented on #108
It’s weird because lodash isn’t used in the command (it is only in the generated code).

[2019-03-19 07:18] luca-nardelli commented on #108
Checking the stacktrace:

[code]

I went to `api-doc-parser`: https://github.com/api-platform/api-doc-parser/blob/master/src/swagger/handleJson.js

Here it imports lodash, so probably the issue is there?

[2019-03-19 18:48] aequasi opened #109 "Suggestion: Templates for Next.js / Nuxt.js"
Very popular frameworks for React / Vue respectively, to create powerful and simple SPAs

[2019-03-19 18:54] mysiar commented on #109
Feel free to do PR

[2019-03-19 19:10] aequasi commented on #109
Would love to if I had the free time. The suggestion is here to incite interest for someone else with free time to give it a shot!

[2019-03-19 23:44] dunglas commented on #109
We could maybe reuse some parts of the React / Vue generator. As I use (and love it), I'll work on a Next generator at some point, but if someone want do it before start before, I'll be glad to merge the PR :)

[2019-03-29 07:11] dunglas commented on #108
I can confirm that this bug occurs time to time when using Docker. Rebuilding the Docker container fixed the issue in my case. It needs more investigation, but it's probably not directly related to this repository.

[2019-03-29 07:14] dunglas opened #110 "Add OpenAPI support"
The generator should work out of the box for any APIs described by an OpenAPI v2 or v3 specification.

Needs https://github.com/api-platform/api-doc-parser/issues/37 and https://github.com/api-platform/api-doc-parser/issues/48 first.

[2019-03-29 07:17] dunglas opened #111 "Switch from Redux to Hooks and the Context API in React and React Native generators"
The main goal would be to simplify the generated code, and to depend of one less library. It will also make this generator easier to use with Next.js.

Alternative: use https://github.com/facebookincubator/redux-react-hook

[2019-03-29 07:18] dunglas opened #112 "Add GraphQL support"
It would be awesome if this library could work for any GraphQL API too.

[2019-03-29 09:35] luca-nardelli commented on #108
In my case, it happened on my pc (without being in a docker container), and it seemed to always happen unless I had globally installed lodash by myself.

Sorry if this seems a repetition of what I wrote above, but I didn't understand if you excluded the issue being in `api-doc-parser` or not, so I'll rephrase what I wrote.

The error trace I printed above points to the [handleJson.js](https://gith

[2019-03-30 14:20] dunglas commented on #108
Good catch thanks for investigating! `lodash.uniq` must be added to `api-doc-parser`'s package.json! Would you mind to open a Pull Request? (I move this issue to the appropriate repository).

[2019-03-31 09:16] Fabious commented on #111
I'll have a look at it 👍

[2019-03-31 09:21] Fabious commented on #112
You mean with client like [Apollo](https://www.apollographql.com/) ?

[2019-03-31 10:14] dunglas commented on #112
@Fabious yes!

[2019-03-31 10:16] dunglas commented on #111
After a second thought, I suggest to add a new minimalist generator using only hooks and the context API ; and to rename the existing one "redux". So users will have the choice. By default we'll use the minimal one.
As done for react/react-native already, we should factorize as much code as possible.

[2019-03-31 10:36] Fabious commented on #112
I'll have a look on this one too 👍

[2019-04-06 08:44] Deuchnord commented on #100
Getting it! :)

[2019-04-16 22:07] luca-nardelli commented on #40
Hi all, I'm writing under this issue because I also was looking for an Angular generator.

I've just tried lysis on a project of mine but I got some errors:

[code]

Did anyone manage to make it work recently?

**In any case**, I've started to work on a generator for Angular.
Is there a minimum set of features that should be present in the generator in order to merge that?

At the moment, I'm gene

[2019-04-22 08:26] rapita opened #117 "Update a api-doc-parser dependency version"
Hi, please update a api-doc-parser dependencies for fix that:
https://github.com/api-platform/api-doc-parser/pull/51

Current api-doc-parser version is ^0.5.0 but need is ^0.7.1. More details about problem https://github.com/api-platform/api-doc-parser/issues/50

[2019-04-22 10:27] #117 closed

[2019-05-02 07:31] pbek commented on #75
@nachomozo, did you have any success in writing a custom template with Vuetify and any source code to share? I'd love to use also Vuetify!

[2019-05-02 07:38] nachomozo commented on #75
Hi @pbek,

Nothing updated or distributable. I am currently developing my clients manually. I use the generator to create the Vuex stores and nothing else. Sorry.

[2019-05-02 08:55] pbek commented on #75
Thank you very much for your quick answer!

[2019-05-07 16:51] kuznetsovsite opened #119 "Client generator update in npmjs packages"
KÉVIN, can you update please?
https://www.npmjs.com/package/@api-platform/client-generator

npx load it from packages. And here is old version.

Thank you.

[2019-05-07 17:40] #119 closed

[2019-05-08 15:18] RemDav opened #120 "Client-Generator error lodash from container personnal"
Hello, everybody,

I had a problem with the client generator of Api-platform.
I explain my problem, i don't use the container propose by "Api platform".
I had create two containers (Symfony and React).
Api Platform work very well.
But when i create the view with "npx @api-platform/client-generator" this error appear :
"npx: installed 284 in 11.132s
Cannot find module 'lodash'"
What resolve this pr

[2019-05-09 09:52] tomaseti commented on #120
I'm seeing this problem too.

[2019-05-09 10:08] dunglas commented on #120
I just tagged a new release that contains a fix for this problem. Just wait for the new NPM package to be published.

[2019-05-09 10:08] #120 closed

[2019-05-09 13:28] KillianLeroux opened #122 "React client files changes doesn't work without restarting Docker container"
Hi!

First of all, thanks a lot for your awesome work with API Platform! :)

I have a problem with the React client:

After generating the client with this command (from website tutorial): docker-compose exec client generate-api-platform-client (no problem all files are generated and no error message), I edited the client/src/index.js as it's mentionned in the doc but when I add modifications, sav

[2019-05-11 08:39] napestershine opened #125 "Calling wrong api end point"
HI

I had a symfony app, so I added APIResource on entity. Now I API's are working perfectly. But Client generated app for react is always calling wrong API.
For example:
If I have a resource faq. It is supposed to call `http://localhost:8000/api/faqs` but it's calling `http://localhost:8000/faqs`.

In my entrypoint.js I have Base URL as `http://localhost:8000/api`

What's getting wrong there?

Th

[2019-05-11 08:50] dunglas commented on #125
Looks related to #107. Can you try to set `http://localhost:8000/api/` (with a trailing slash) as base url?
It should be fixed by https://github.com/api-platform/client-generator/blob/master/src/index.js#L51-L53 but it doesn't seem to work properly.

[2019-05-11 08:58] napestershine commented on #125
exactly. I am scratching my head since 3 days. and URL's are not working properly.

[2019-05-11 08:59] dunglas commented on #125
Does adding the trailing slash in `entrypoint.js` fixes the problem.

[2019-05-11 09:02] napestershine commented on #125
yes. Works perfectly. Then why it generated by default without `/`

[2019-05-11 09:05] dunglas commented on #125
It’s definitely a bug. A patch would be very appreciated!

[2019-05-11 09:47] Deuchnord commented on #125
A fix could be made by generalizing the change made in #115 (currently done for the VueJS part only)

[2019-05-11 09:51] dunglas commented on #125
It should be handled in the generator, not in the generated code.

[2019-05-12 16:25] BenWaNH opened #126 "Error 406 : Not acceptable"
Hi,

i've an error 406 Not Acceptable when i try this command :
`generate-api-platform-client -g vue http://my-project.local/api src/`

This is my response :
[code]

I don't understand why....

Thanks for your help

Benoit.

[2019-05-12 19:11] RemDav opened #127 "Error geneator 'require("history").createBrowserHistory`'"
Hello,

My problem is  with the generator react of api platform.
The generate fonctionnal but this message apper "JSON.parse: unexpected character at line 1 column 1 of the JSON data".
In debug console of firefox this error appear "Warning: Please use `require("history").createBrowserHistory` instead of `require("history/createBrowserHistory")`. Support for the latter will be removed in the next m

[2019-05-12 19:20] RemDav commented on #127
I find the first problem,
update that line " import createBrowserHistory from 'history/createBrowserHistory';"
by "import { createBrowserHistory  } from 'history';"
but this message appear "JSON.parse: unexpected character at line 1 column 1 of the JSON data"

[2019-05-14 08:15] Gregcop1 commented on #109
Hi. I'm on it.

[2019-05-17 07:28] luca-nardelli opened #129 "Typescript: how to handle arrays or toMany relations"
Hey,

while I was working on an Angular generator I noticed that the current implementation of the typescript interface generator does not take into account toMany relations (or simple arrays as well).

I had a look at the `fields` property inside `resource`, however I can't seem to find any difference between single fields and array fields. I hoped that the `maxCardinality` property would help me

[2019-05-17 15:26] luca-nardelli commented on #129
Upon further inspection, I reached DocumentationNormalizer.php in api-platform/core

https://github.com/api-platform/core/blob/master/src/Hydra/Serializer/DocumentationNormalizer.php#L469

It seems to me that if we change the if condition from

[code]

To
[code]

We should obtain a correct population of the maxCardinality property: null for collections and 1 for scalar values/objects, even if they

[2019-05-21 01:22] napestershine commented on #127
You are getting that error from api response. Check in network tab response from api.

[2019-05-21 21:01] luca-nardelli opened #131 "Typescript: DateTime properties are mapped to Date objects but they should be string"
As the title says, the typescript interface generator maps the date/datetime/time types to Typescript's Date object (https://github.com/api-platform/client-generator/blob/master/src/generators/TypescriptInterfaceGenerator.js#L47).

However, API Platform by default serializes DateTime objects as ISO 8601 strings, so we should change the type to `string` I think, otherwise we will run into all sorts

[2019-05-22 07:41] soyuka commented on #131
There should be a "denormalization" phase in the browser where this date should be transformed from a string to a `Date` instance imo.

[2019-05-22 10:58] luca-nardelli commented on #131
I'd say it makes sense if we assume that the interfaces do not represent Api Platform resources but rather how the frontend app denormalizes them.

At the moment, I was using these interfaces to type hint the JSON objects received from the Api Platform backend, if we were to assume this denormalization phase is necessary we would not be able to type hint the responses without having wrong types fo

[2019-05-25 14:37] RemDav commented on #127
Tank for response, i look this today

[2019-06-09 20:14] dunglas opened #135 "Rename NPM package "create-client-app" to support yarn create"
Yarn require the package to start with `create-` to be able to use this feature: https://yarnpkg.com/lang/en/docs/cli/create/

In the meantime we can also use `yarn dlx`.

[2019-06-09 20:25] fogx opened #136 "npm/yarn installation not possible from master branch"
I've been trying to use the quasar generator for quite some time today, but can't quite make it work.

- The npm and yarn release version is over a month old.

- Pulling the masterbranch causes yarn to install a client-generator version that has no symlink or .bin entry.
 `yarn global add "https://github.com/api-platform/client-generator.git#master"`

- Trying to install with npm throws more error

[2019-06-09 20:29] dunglas commented on #136
Just clone the repo, run `yarn install`, and run `src/index.js`.

[2019-06-09 20:56] fogx commented on #136
im sorry but i fear i can't quite follow. Can you explain a bit more in detail?

i cloned and installed, then ran `node src/index.js` to get this error:
import "isomorphic-fetch";
       ^^^^^^^^^^^^^^^^^^
SyntaxError: Unexpected string

there is no script specified for running the index.js file in the package.json either

[2019-06-09 21:05] fogx commented on #136
Alright, I got it to work by running the following commands (in case someone else has this issue)
- git clone https://github.com/api-platform/client-generator.git
- cd client-generator
- yarn install
- yarn build

[2019-06-09 21:05] #136 closed

[2019-06-23 14:35] napestershine opened #137 "Installing on linux with next generator throws infos"
[code]

[2019-06-28 06:14] napestershine opened #138 "Network request failed"
HI

after making react app work in issue #125 , I am trying react native. With sample code. and I just changed api to my own. and I get `network request failed` on react native app with expo cli.

here is code fore review: https://github.com/napestershine/RNApp

[2019-07-05 15:15] doa-b commented on #122
I also encountered that problem. Manually restarting the client container solves the "Not Found" problem, but it should pick up changes automatically.

[2019-07-10 11:25] dannylewis-sheffield opened #139 "Next 9"
New version of next has been released https://nextjs.org/blog/next-9

The current client generator works for version 8 but not 9

I think the main issue is NextFunctionComponent in @types/next is no longer used and NextComponentType in 'next-server/dist/lib/utils' is recommend instead.  See https://github.com/zeit/next.js/issues/7866

Not sure how long you want to support older versions of clients

[2019-07-10 11:37] dunglas commented on #139
We don’t want to support old versions for this component. A PR to upgrade to Next 9 would be dry welcome! No need to maintain compatibility with v8.

Also, we should leverage the new routing system introduced in Next9.

Cc @gregcop1

[2019-07-10 11:41] dannylewis-sheffield commented on #139
The new routing is awesome, no more custom server!  I'll see what I can do about a PR, but like everyone else I'm dead busy at the moment.

[2019-07-26 15:27] alexfauquette commented on #111
Hi @Fabious would you like to have some help on this issue?

[2019-07-29 07:57] Fabious commented on #111
Sure, i don't have any time lately ! :)

[2019-08-06 13:50] alexfauquette commented on #111
@dunglas @Fabious  I created a template for the Show component in the PR #140

For now, I didn't look to mercure subscribers.
I tested the generated code, It fetch and delete data. If you have some feedback about the code structure or anything else.

[2019-08-10 04:34] npluis commented on #97
@ghanbari This works but it's strange that it is needed for other entities when you only want one resource (with --resource)

[2019-08-14 04:49] tpharaoh opened #141 "relation fields"
I noticed using vuejs the relation fields show up as text fields.

note entity:
customer - relation ManyToOne
note - string

[2019-08-14 14:08] Cruiser13 opened #142 "Quasar Framework Generator broken"
By using the Quasar Framework Generator as described in the docs ( https://api-platform.com/docs/client-generator/quasar/ ) it should generate a working store and crud pages. Running the generator with the entrypoint http://localhost:8080/index.jsonld worked fine (quasar running at http://localhost:7080 ), the stores have been created in the quasar app. But I can not see my data if I browse the ge

[2019-08-14 17:41] dunglas commented on #142
/cc @evel-pa

[2019-08-14 18:20] devel-pa commented on #142
Hi,

I fixed some bugs and added new features in PR #143

If something wrong, please help with a PR.

Paul

[2019-08-14 20:02] devel-pa commented on #142
I also think that your entrypoint set for generator is wrong. The entrypoint is always the same, so should be the generic entrypoint for all APIs used by your app.

[2019-08-15 08:37] Cruiser13 commented on #142
@devel-pa the code in the PR looks good.

[2019-08-19 01:59] pierrejoye opened #144 "Vuetify2 support"
Good morning
first thanks for this awesome service of tools and apiplatform itself.

I was thinking to add vuetify (2) support to the generator to bring vue support to the same quality than react (as the current state is very nice, quite a lot to do to match with react results).

Does anyone work on it already or could I consider moving forward and provide a PR? (no eta yet :)

best,

[2019-08-20 13:02] dunglas commented on #144
Hi Pierre,

I'm not familiar with vuetify. How does it differ from Quasar (that we already support)?
AFAIK, nobody is currently working on this.

[2019-08-20 13:16] pierrejoye commented on #144
It is mich more widely used but similar, based on material design.

the v2 is quite good, solves most of small issues with missing options or components.

What do you think about starting with vue3 and vuetify2?

May do vue3 but given that vue3 is around the corner (with components support and improved async features).

[2019-08-20 13:54] dunglas commented on #144
We definitely want Vue3 support in! Regarding vuetify, I'm not sure (it looks like a lot of maintenance to support both Quasar and vuetify), except if someone want to maintain it!

[2019-08-20 14:10] tpharaoh commented on #144
I was going to answer same thing, sure they don't mind as long as there is
a voluntneer to maintain...

I was thinking about paying someone on upwork to make a client with auth
support, something like:
generate-api-platform-client --generator vue https://demo.api-platform.com
src/ --with-auth which would do auth scaffold, login page and use token on
all future requests.

On Tue, 20 Aug 2019 at 15:

[2019-09-04 15:22] Cruiser13 commented on #104
I'm at the moment running in the same issue.

[2019-09-11 11:45] Niko9911 opened #147 "[vuex] unknown getter: {entity}/del/deleted"
Error: `vuex.esm.js:897 [vuex] unknown getter: project/list/items`

Sources: https://github.com/Niko9911/vue-issue
Steps to reproduce.

Requirements:
- Locally PHP 7.3.
- Symfony CLI installed globally.

1. `git clone https://github.com/Niko9911/vue-issue`
2. `cd vue-issue`
3. `composer install`
4. `yarn install`
5. `yarn encore dev`
6. Configure DB in `.env` file.
7. `bin/console doctrine:databas

[2019-09-13 07:31] Niko9911 commented on #147
@dunglas I'm sorry to tag you, but this seems to break hole Vue support.

[2019-09-13 09:43] rvmourik commented on #100
@Deuchnord Is there any ETA for this feature? Would really love to use it :-)

[2019-09-13 22:02] alOneh commented on #147
Hi @Niko9911,

I'm working on a refactoring of the vue generator and will fix this issue. If you find anything else let me know.

[2019-09-14 11:31] Niko9911 commented on #147
@alOneh Thank you very much!

[2019-09-24 17:11] devel-pa commented on #142
Can we close this?

[2019-09-25 07:20] Cruiser13 commented on #142
I had no chance to test the code live because there is no new version released yet and yarn has issues with direct commit testing on windows. But it looks good so far, I believe that it'll work fine.

[2019-09-25 11:01] dunglas commented on #142
To test locally you can just clone the repo, run yarn build, and execute the local command from any directory.

[2019-09-25 12:19] Cruiser13 commented on #142
Hi @dunglas this does not work on my environment (my team opened an issue at the yarn repo) because the global api-platform instance does always override the local instance somehow. If we try to run it directly cloned, we're missing babel and so on... Maybe you can check if the generated files are working for you?

[2019-09-27 15:58] lucasfontesgaspareto commented on #104
i get a quickly sulution

[code]

[2019-10-01 07:08] #142 closed

[2019-10-01 07:08] dunglas commented on #139
The generator and the docs have been updated for Next 9!

[2019-10-01 07:08] #139 closed

[2019-10-01 17:34] tpharaoh opened #172 "make-auth flag for authentication scaffolding"
#hacktoberfest

The client generator would be really cool if it had a make-auth command to scaffold login/registration.

I suppose it would need to tell user to make the auth in the api-platform side: https://api-platform.com/docs/core/jwt/

[2019-10-04 09:38] jandrell-formoso commented on #138
Same issue but I'm using the demo API.

[2019-10-07 01:24] jandrell-formoso opened #175 "Error: The class "http://www.w3.org/ns/hydra/core#ApiDocumentation" is not defined in the API documentation."
Hi. I tried using the `client-generator` repository to use hydra api in a react native project. I followed the steps in the docs and changed the demo api to our own api which uses Symfony 4 with `@api-platform/admin`. This is the error that I get after running the command.

`npx @api-platform/client-generator {{api docs url}} output/ --resource User --generator react-native`

This is the result:
[

[2019-10-10 06:23] jandrell-formoso commented on #138
@napestershine do you have any logs for this? have you solved this issue?

[2019-10-13 21:25] alOneh commented on #147
@Niko9911 can you review my PR to see if everything works now ?

[2019-10-14 08:13] dunglas commented on #175
Duplicate of api-platform/core#3158

[2019-10-14 08:13] #175 closed

[2019-10-21 11:21] Niko9911 commented on #147
Hey,

I'm very sorry but I'm unable currently to do anything to help you due personal reasons. However, I appropriate very much your work put into this, and I hope when I get back into work I see this to be working.

As I see this being merged to master, I expect you tested it already and so I close this issue.

Great work! Thank you.

[2019-10-21 11:21] #147 closed

[2019-10-21 21:20] alOneh commented on #144
@pierrejoye I'm working on a Vuetify generator and can take the ownership on this.
To be honest, Vuetify is way more popular than Quasar (22k ⭐️ vs 12k ⭐️). To avoid too much code to maintain, we need to create a vue-common like the react generators, I will try to do all the work and make a PR for discussion

[2019-10-21 21:27] alOneh opened #179 "no-mercure flag to disable mercure integration"
**Description**

Mercure is a killer feature but it depends on the project you are working one.
For a prototype or a side project it could be overkill to use it at the first time. Instead of cleaning the generated code I propose to add a simple flag to not generate the code related to Mercure.

**Example**
[code]

[2019-10-21 21:31] dunglas commented on #179
👍 on my side

[2019-10-22 09:47] patrickmaynard opened #180 "Client in Book/Review tutorial failed to compile"
**API Platform version(s) affected**: 2.5.0

**Description**
When following the Book/Review tutorial at https://api-platform.com/docs/distribution/ to the letter, I get a "Failed to compile" error when trying to load the front-end client.

Output from running `docker-compose exec client generate-api-platform-client`:

Message in the browser:

[2019-10-22 14:45] patrickmaynard commented on #180
Ah -- nevermind. I failed to see that the comments were prescriptive rather than descriptive.

So once I realized that the generated index.js file already contains a `<switch>` tag and correctly followed the commented **instructions** to ...

... everything worked beautifully.

[2019-11-14 09:14] BenWaNH opened #188 "TypeError: (0 , _generators2.default)(...) is not a function"
Hi everyone!

I try to create a Quasar App, i follow this documentation : [https://api-platform.com/docs/client-generator/quasar/](https://api-platform.com/docs/client-generator/quasar/)
But, I meet an issue with command line :

`generate-api-platform-client -g quasar https://demo.api-platform.com src/ --resource foo
`
[code]
No matter url is given (http://localhost:8002 i tried for my case, with

[2019-11-15 13:24] alOneh opened #190 "Vuetify fixes"
**API Platform version(s) affected**: 2.5.x

**Description**
Required fixes to make the first version of Vuetify working
- [x] Form of the book does not work
- [x] The relation one to one does not work
- [x] I got a 500 when fetching resources at the first time (filters are empty and sent with the request)
- [x] path of [serviceNAME] from '../services/review'; path of [serviceNAME] from './service

[2019-11-15 13:30] guizmo51 commented on #190
- use PATCH instead of PUT ?

[2019-11-20 10:26] alOneh commented on #190
I will keep it as is because others don't use PATCH and I want to keep it simple for now.
It will be easy for anyone to change this behaviour in the generated services

[2019-12-30 13:20] beejaz opened #194 "VueJS generator: These relative modules were not found. Layout & views/"
Hi!

Im trying out the VueJS client generator and following the guide at https://api-platform.com/docs/client-generator/vuejs/ and then after running the npx @api-platform/client-generator https://api src/ --generator vue --resource booking command, when I try to compile my vue project I get this error:

[code]

There is no Layout file and there is no views folder at all in the output dir.

[code]

[2019-12-30 23:11] beejaz commented on #194
From what I can understand, there is no code for generating the views in VueJS (although Vuetify does have)?

https://github.com/api-platform/client-generator/blob/master/src/generators/VueGenerator.js#L47
https://github.com/api-platform/client-generator/blob/master/src/generators/VuetifyGenerator.js#L28

[2020-01-07 11:29] #127 closed

[2020-01-08 01:00] SlvrEagle23 opened #195 "Vuetify generation: unreachable resource (Unhandled Promise Exception)"
Node: v12.14.0
NPM: 6.13.4

Attempting to generate Vuetify components from an API Platform installation (using the latest version of the API Platform composer dependencies).

The command I'm running is:

[code]

The URL in this case is a referrer to another Docker container (named `backend`). That isn't the public-facing URL of the endpoint, but it's the only way that this container can access it.

[2020-01-08 21:09] alOneh commented on #195
@SlvrEagle23 thanks for reporting ! Is your API under authentification ?

[2020-01-08 21:09] SlvrEagle23 commented on #195
@alOneh Yes, it uses the basic JWT auth bundle.

[2020-01-08 21:17] alOneh commented on #195
For now, it is not supported to generate code for an API under secured api documentation. You can create an issue for supporting that.

[2020-01-09 00:31] SlvrEagle23 opened #196 "Add Support for Authenticated API Endpoints"
Basically every use-case I have for API Platform revolves around creating authenticated APIs, not fully public ones, so I think it would be an important addition to the client generator to support authenticated endpoints in some fashion.

Currently, (at least with the Vuetify generator, but possibly with others) if you attempt to generate a client based on an API that is authenticated, the generat

[2020-01-09 00:33] SlvrEagle23 commented on #195
@alOneh Thank you for the update. Created new issue #196. Admittedly, I'm unsure of why hitting the endpoints _themselves_ is necessary for the creation of the client, but hopefully this can be resolved, so I don't have to go through the process of disabling authentication on the application any time I want to generate/refresh client components.

[2020-01-15 00:02] SlvrEagle23 commented on #195
@alOneh Reopening this issue...it wasn't caused by a lack of authentication. Same exact set of errors are being triggered with auth turned off on all endpoints.

Is this expecting that Mercure will be exposed? I've disabled the module for that as we don't need it in our setup.

I wish there was a better way for me to diagnose why this isn't working, because this vague "unhandled promise exception"

[2020-01-17 07:07] raresserban commented on #194
Hello, I also tried using the generator with the latest version of vue and vue-cli and got the same error. Event after I fixed these, there were still other problems. Is the Vue generator only compatibly with Vue 1 or other versions of vue-cli or something else?

[2020-01-26 17:14] #190 closed

[2020-02-08 04:26] jfoliveira opened #198 "Can't generate code from demo resource (React + OpenAPI3)"
**API Platform version(s) affected**: latest, retrieved using `npx`

**Description**
Example command in README fails to execute when pointing to demo server using `openapi3` format.

**How to reproduce**

1. Create a new empty project following the [steps in the documentation](https://api-platform.com/docs/client-generator/react/)
2. After the app is created, run the code generation command:
`npx

[2020-02-10 01:59] jfoliveira opened #199 "hydra:error + HTTP 500. Can't load demo /books data"
**API Platform version(s) affected**: x.y.z

**Description**
Just tried to generate a React client using the demo server at https://demo.api-platform.com/ but when trying to run the generated client it fails with HTTP 500 and can't load `books` data.

**How to reproduce**
Just follow [the documentation steps](https://api-platform.com/docs/client-generator/react/) for running the demo with the Reac

[2020-02-20 11:35] bolner commented on #198
Same here.

[2020-02-25 13:39] dunglas opened #201 "[react] Migrate from componentWillReceiveProps"
`componentWillReceiveProps` is deprecated: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

This part of the `List` component must be updated: https://github.com/api-platform/client-generator/blob/master/templates/react/components/foo/List.js#L25-L31

[2020-02-25 14:25] dunglas opened #202 "Rename the package"
The NPM package name should start with `create-` to be usable with `yarn create`. I suggest to rename it `create-api-platform-client`.

[2020-02-25 20:05] faso-dev commented on #68
Hello, have you found a solution ? i the same error

[2020-02-26 10:27] SlyDeGout commented on #201
Hi,
You don't just want to use `UNSAFE_componentWillReceiveProps()` instead ?

[2020-02-26 15:31] JeremyPasco commented on #199
It looks like the demo server is triggering 500 errors for any request right now. You can try with your own api server by cloning and running the following repo : https://github.com/api-platform/demo

[2020-02-27 10:10] #196 closed

[2020-02-27 10:16] zessx opened #205 "Unable to verify the first certificate, with the API Platform Docker setup"
**API Platform version(s) affected**: 1.2.1

**Description**
Using examples from API Platform documentation, I cannot get the client generator to work with the Docker setup. The SSL certificate used in my containers is not allowed and I face this issue with the `npx` command:

[code]

**How to reproduce**
[code]

**Possible Solution**
As this is only for development purpose, I would like to be abl

[2020-02-27 10:24] #201 closed

[2020-02-27 15:34] zessx commented on #205
1. I understood I need to put my client in a Docker container (my mistake)
2. It seems the client generator is really not ready for Vue.js, but I'll close this issue as there are other issues pointing this problem

[2020-02-27 15:34] #205 closed

[2020-02-27 17:17] teohhanhui commented on #205
About the certificate issue, there's no need to use a HTTPS URL with the client-generator.

[2020-03-13 18:43] ishapkin commented on #126
Same problem

[2020-03-14 11:25] ishapkin commented on #198
+1

[2020-03-21 23:53] ElGecko76 commented on #205
I got the same error as @zessx, I corrected the problem by running these commands:

`symfony server:ca:uninstall`

`symfony self:update`

`symfony server:ca:install`

`export NODE_TLS_REJECT_UNAUTHORIZED=0`

Source : http://disq.us/p/22cxpyc

[2020-03-27 14:05] GRUXXKi opened #210 "Vuetify : error when entity are type entity_relatedentity"
**API Platform version(s) affected**: 1.2

**Description**
First, thanks a lot for the great job with this generator, the code is great to read !

I've a problem with generated entities in Vuetify wich name is with an underscore.

**How to reproduce**

Make an entity Article and a ArticleCategory entity with a many to one relation.

If i want to go to check all the ArticleCategory, I've got multip

[2020-03-28 04:07] prashobkthamban opened #211 "Module not found"
**API Platform version(s) affected**:2.5.4

**Description**
I have downloaded the API platform distribution 2.5.4 and followed the steps mentioned in "Installing the Framework" section. When I run the localhost, I get the following error:
"
Failed to compile

./src/index.js
Module not found: Can't resolve 'font-awesome/css/font-awesome.css' in '/usr/src/client/src'

This error occurred during the

[2020-04-03 10:14] SultanICQ commented on #211
I detected the problem, but I don't know how to solve it.

I entered the client docker machine and tried to build yarn.

`/usr/src/client # yarn build`

Then I tried to follow the advice from yarn to add the package.

`/usr/src/client # yarn add font-awesome/css/font-awesome.css`

but it gave me this other error.

Hope someone can give us more advice

[2020-04-03 14:18] SultanICQ commented on #211
Hi again,

I managed to solve the problem.

I entered the client container and run:

`/usr/src/client # yarn add font-awesome`

The package manager did a lot of stuff

And it's done! Now I can access https://localhost without problems.

[2020-04-14 17:13] VeritasUA commented on #126
see: https://api-platform.com/docs/client-generator/react/#generating-a-progressive-web-app
![hydra](https://user-images.githubusercontent.com/12798955/79253315-a874c400-7e8b-11ea-87b8-0115c781cc68.jpg)
Try to enable Hydra (json-ld) in your application.
Don't forget to clear cache.

[2020-05-06 20:22] ruddygbaguidi commented on #194
I have the exact same error.
vue generator doesn't provide a working output

[2020-05-07 17:53] jmontoyaa commented on #194
I confirm the error too.

[2020-05-07 18:06] jmontoyaa commented on #194
It was change here:

https://github.com/api-platform/client-generator/commit/0a7d15d120b942877d8e199a993a854ceb9dc14a#diff-e09f3f33cfd644a558b787ab754b8fbc

Maybe it was a mistake to change it.

[2020-05-07 22:15] #194 closed

[2020-05-08 04:43] ruddygbaguidi opened #214 "Resource Update doesn't work in VueJS client"
**API Platform version(s) affected**: x.y.z

**Description**

In a vuejs client, it's not possible to update a resource.

**How to reproduce**

Generate a vuejs client.
Edit a resource and try to update it.
There is an error because the body is empty.

**Possible Solution**

    onSendForm() {
      this.update(this.retrieved);
    },
instead of

    onSendForm() {
      this.update();
    },
**Ad

[2020-05-22 14:56] Swahjak commented on #195
I'm getting a similar issue when generating based on the documentation

[code]

[2020-05-23 06:36] tahiticlic commented on #194
Still not working, is there a way to use latest commit with npx ?

[2020-05-23 13:14] alOneh commented on #195
After investigating the api platform demo return an internal server error but don't know why :
[code]

@Swahjak can you try the generator with your own api project ?

[2020-05-23 13:17] Swahjak commented on #195
@alOneh did yesterday. Didn't think about the implications for this issue; It ran successfully (after fixing some of my own API issues). So I guess that my comment is purely related to the demo environment.

[2020-05-28 08:55] Jogima-cyber opened #218 "React-native-elements compatibility issues"
**API Platform version(s) affected**: 0.3.0

**Description**
Current versions of react-native-elements is 2.0.0, but latest react native client generator was built for react-native-elements 0.19.1. Changes from 0.19.1 to 1.0.0 of Form component prevent react native client generator from working. Here are listed the changes : https://react-native-elements.github.io/react-native-elements/blog/2019/0

[2020-05-28 09:19] Mausino commented on #188
@devel-pa

Hi, as you can see here:

![api_quasar](https://user-images.githubusercontent.com/5773777/83122536-1986d880-a0d4-11ea-9af0-4d2843be69df.png)

There are only two resources: Book and Review  .... no foo... + in documentation is issue.. first letter must be capital like Book (no book)

But here other issue like here (what i got from console)
Note: for Vue, React, Vuetify is working fine..

[2020-05-28 17:11] hawkeye64 commented on #188
It looks as if this API Generator is using Quasar v0.17 and not latest 2.x

[2020-05-28 19:03] devel-pa commented on #188
Hi,
@hawkeye64 There is no Quasar 2.0, latest is 1.12.0
I'm using it in production and works.

@Mausino @BenWaNH `generate-api-platform-client -g quasar https://demo.api-platform.com/api src/ --resource foo`
where `foo` is the name of the url, usually a plural (`foos`), or the name of the resource `Foo`. Take in account the end of your URL in the command, that contains an `/api' as standard, or so

[2020-05-28 20:28] hawkeye64 commented on #188
@devel-pa

You're right. I meant 1.x (as opposed to v0.17) -- getting ahead of myself :)

[2020-05-28 21:08] Mausino commented on #188
Hi @devel-pa  (sorry for English)

I am understanding you :) but i let you show my view on it. I am a beginner.. fighting with symfony (to much to learn) and some front end to communicate together... I see that symfony api platform + mercure are biggest and huge step forward for php after php 7

We everybody fighting with documentations and my point of view is only view of beginner (4 monts of int

[2020-05-29 07:31] devel-pa commented on #188
@Mausino Hi, you don't have to justify yourself, I understand your issue, I just don't have the time to fix everything. So I'll be late with the docs.

As for your issue on localhost, you're using `https` and you don't have a certificate or as the error show, it's a self signed. Try using 'http' instead or make accept your node/browser that certificate.

[2020-06-12 15:49] tacman commented on #74
Add an option to expose the routes:

[code]

[2020-06-23 20:19] alOneh commented on #144
I think we can close this issue now.

[2020-06-23 20:19] #144 closed

[2020-06-23 20:21] alOneh commented on #210
@GRUXXKi can you provide the command you use for generating the code for your entities ?

[2020-06-25 21:19] alOneh commented on #214
Hi @ruddygbaguidi I fix this issue so let me know if its ok now.

[2020-06-26 04:02] ruddygbaguidi commented on #214
Yes it worked. Thanks.

[2020-06-26 09:24] #214 closed

[2020-06-26 09:25] alOneh commented on #214
@ruddygbaguidi, thanks for reporting this issue.

[2020-06-30 20:25] #64 closed

[2020-07-08 13:09] danaki opened #221 "Handle 401, 403 and 204"
In fetch.js

Handle 401, 403 and throw an Authorization error.

Handle 204 because methods like DELETE do not provide any JSON output (Unexpected end of JSON input thrown).

I'm using vue, I guess other generators can also benefit from this feature. If you wish I could provide a PR.

[2020-08-11 20:02] noud opened #223 "React Swagger"
hi, i have a React Swagger question

I use Laravel w/ a generated API conform Swagger 2.0
        "appointer/swaggervel": "dev-master",
        "doctrine/dbal": "^2.10",
        "fruitcake/laravel-cors": "^2.0",
        "infyomlabs/laravel-generator": "^7.0",
        "infyomlabs/swagger-generator": "dev-master",
on my server, /api/docs works and i am able to get data.

node_modules/.bin/generate-a

[2020-08-19 09:06] walva commented on #194
Hello,

I do have the same issue after following your [guide ](https://api-platform.com/docs/client-generator/vuejs/):

[code]

[2020-09-11 09:27] ma0dubois commented on #210
Can you also show us your `store/index.js` ?

[2020-09-11 10:23] GRUXXKi commented on #210
I've used the one into documentation

Got that kind of generated values :

[code]

[2020-09-11 11:55] ma0dubois commented on #210
Where is your service ?
you need to declare your own service, like explain in the [documentation](https://api-platform.com/docs/client-generator/vuetify/#generating-the-vuejs-web-app).

[2020-09-22 06:35] GRUXXKi commented on #210
`import fooService from "../services/foo";
import fooBarService from "../services/foobar";`

Here, no ?

[2020-09-22 06:40] ma0dubois commented on #210
yes, but your service `articleService` and `articleCategoryService` ?

[2020-09-22 07:02] GRUXXKi commented on #210
Sorry, I have like 30 services, so I've just made an example of the code I have.

But sure I have :

[code]

[2020-09-22 07:15] ma0dubois commented on #210
I also found it weird, but it's ok ^^

If I remember correctly, I also had this error at the beginning.
And I believe, that I just declared the name of my module in lowercase.
Exactly like the service filename.
Can you try?

exemple:

`...
import animationService from "../services/animation";
import animationCategorieService from "../services/animationcategorie";
........
const store = new Vuex.St

[2020-09-28 11:43] sergerdn opened #228 "npx not able to run from GitHub repo"
**API Platform version(s) affected**: master GitHub repo (@api-platform/client-generator@0.4.0)

**Description**

Got error instead of successful run
[code]
**How to reproduce**

`npx github:api-platform/client-generator https://demo.api-platform.com src/ --generator vue`

[2020-10-02 19:25] sergerdn opened #229 "collectionOperations "get" not declared by design of backend"
**API Platform version(s) affected**: 0.3.0

**Description**

px @api-platform/client-generator -g vuetify https://backend.localhost/api src/
[code]
file admin/src/Entity/CloudProvider.php:
[code]

**Possible Solution**

I believe that we should just ignore not declared GET api resource because design frontend.
Workaround:
[code]

**Additional Context**

Related bug issue in another project https:

[2020-10-05 14:10] #195 closed

[2020-10-05 14:13] #109 closed

[2020-10-18 14:13] v-radev opened #230 "Nuxt generator release"
**API Platform version(s) affected:** any

**Description:**
There is documentation added for Nuxt generator in the official API Platform docs and there are code changes in the repository from a few weeks. When is this going to be released for use since the documentation says it can already be used, but it actually can't be?

**How to reproduce:**
`npx @api-platform/client-generator --generator nux

[2020-10-20 12:22] alOneh commented on #229
This issue is not related to the client generator but by the api design.

To be able to access a collection of a ressource you should have at least a GET item operation to make it working well (due to the IRI concept). If you don't need the GET operation for your collection, instead of omitting it altogether, you should instead declare a GET item operation which returns HTTP 404 (Not Found).

For

[2020-10-20 12:22] #229 closed

[2020-10-20 12:23] #230 closed

[2020-10-20 12:24] alOneh commented on #230
Thanks for reporting @v-radev, this should be fixed now

[2020-10-20 12:32] v-radev commented on #230
Awesome, thank you for the quick response.

[2020-10-22 08:48] dertuerke commented on #230
@alOneh When can you start using it?
Get this error message with this cmd
`npx @api-platform/client-generator --generator nuxt  https://localhost:8443 .`

[code]

[2020-10-28 13:55] alOneh commented on #188
This issue should be fixed now. Feel free to reopen the issue if you still have a problem.

[2020-10-28 13:55] #188 closed

[2020-11-03 17:22] sergerdn opened #235 "OpenAPI v3 generator doesn't work with demo"
**API Platform version(s) affected**: 0.5.1

**Command**
[code]

**Error**
[code]

[2020-11-03 17:24] sergerdn commented on #235
Maybe duplicated https://github.com/api-platform/client-generator/issues/198

[2020-11-03 17:34] dunglas commented on #235
This feature is experimental and I hadn't a chance to test it by myself yet... There are chances it is broken. I strongly recommended using the Hydra support for now.

[2020-11-03 17:52] sergerdn commented on #235
Hi, @dunglas. Thank you for the very fast reply.  The main problem for me that I want to use generators with some OpenAPI v3 enabled api.
I haven't any chance in this point, because only api-platform exposed Hydra-enabled api.

[2020-11-04 10:54] sergeplace opened #236 "The API Platform Client Generator : ECONNREFUSED"
Hello,

I am working on Api-Platform last version running on docker last version.
I used a lot the client generator with any problems.
I setted the JWT authentification and since then, the client generator is not working any more..

When I do **>docker-compose exec client generate-api-platform-client  https://localhost:8443/api/docs** I have {
  api: Api { entrypoint: 'https://localhost:8443/api',

[2020-11-05 15:53] alOneh commented on #236
@sergeplace you also need to update your firewalls for the api docs, try something like :

[code]

[2020-11-11 04:08] sergerdn opened #238 "vuetify, nuxtjs errors: update(edit) object"
**API Platform version(s) affected**: 0.5.1

**Description**
[code]

**How to reproduce**
- Follow any link:
   - https://api-platform.com/docs/client-generator/vuetify/#install-without-docker
   - https://api-platform.com/docs/client-generator/nuxtjs/
-  Make all things
- Proceed to edit any Books or Reviews item.

**Additional Context**
- vuetify:
![Screenshot 2020-11-11 at 06 59 33](https://use

[2020-11-11 22:17] sergerdn opened #239 "vue errors: update(edit) object"
**API Platform version(s) affected**: 0.5.1

**Description**
[code]

**How to reproduce**
- Follow https://api-platform.com/docs/client-generator/vuejs/
- Make all things
- Proceed to edit any Books item.

**Additional Context**
![Screenshot 2020-11-12 at 01 15 58](https://user-images.githubusercontent.com/64213648/98870696-bb349300-2484-11eb-9e8f-6c9711220e46.png)

**How to fix**

`src/components

[2020-11-12 05:07] sergerdn opened #240 "vue generator, invalid link to child objects"
**API Platform version(s) affected**: 0.5.1

**Description**

Url to child objects is broken due to invalid `router-link` usage.

**How to reproduce**
[code]

**Possible Solution**

We should always using:
[code]
Instead  of:
[code]

**Additional Context**

![Screenshot 2020-11-12 at 08 02 52](https://user-images.githubusercontent.com/64213648/98897918-7da02c00-24bd-11eb-8835-7b40f8919d6b.png)

[2020-11-13 02:51] sergerdn commented on #228
Are there any updates?
[code]

[2020-11-19 08:37] #240 closed

[2020-11-19 08:39] soyuka commented on #228
Github has the source code, for the builded library (https://github.com/api-platform/client-generator/blob/master/package.json#L54) we need to tag a release. @alOneh should I tag one maybe?

[2020-11-19 10:04] alOneh commented on #228
@soyuka I recently made two releases `0.5.0` and `0.5.1, so I don't know if it will fix this issue.

@sergerdn can you try with this command ? It works for me on my laptop

[code]

[2020-11-19 10:13] sergerdn commented on #228
On my side it is working too.
Please make sure you have seen difference between:
- `npx github:api-platform/client-generator https://demo.api-platform.com src/ --generator vue` // run from GitHub
- `npx @api-platform/client-generator https://demo.api-platform.com temp-debug --generator vue` // run from npm

https://github.com/npm/npx#invoking-a-command-from-a-github-repository

[2020-11-24 09:33] soyuka commented on #228
I guess you used https://github.com/api-platform/client-generator/blob/master/CONTRIBUTING.md#tag-a-new-version-contributors-only ? I don't see the package.json at 0.5.1 though. I don't think that using this repository via github will work as the source files need to be transpiled ! Without a build, "lib/index" will not exist and we can't do anything about this unless we publish builded files.

[2020-11-24 09:33] #228 closed

[2020-12-05 11:19] walva opened #243 "React generator error: Field missing from import"
**API Platform Client Generator affected**: >= 0.5.0

**Description**
In a generated react client the following error occurs: Failed to compile 'Field' is not defined react/jsx-no-undef.
It occurs in ./src/component/{entity name}/Form.js for each Field.
It worked after I changed client/src/components/{entity name}/Form.js line 2
from:
import { reduxForm } from 'redux-form';
to:
import { Field, red

[2020-12-05 11:49] #243 closed

[2021-01-04 11:56] mbrodala opened #248 "Dynamic entrypoint"
**Description**
There should be an option to have a dynamic entrypoint when generating client code.

Currently the API endpoint passed to the generator is also used as entrypoint. This is not optimal:

1. A development setup may be accessed differently via CLI and via web (e.g. using internal service host names and public URLs in a Docker Compose setup)
2. Different environments need different hos

[2021-01-04 16:39] mbrodala opened #249 "SubmissionError not imported properly in fetch.js"
**API Platform version(s) affected**: 0.5.2 (`@api-platform/client-generator`)

**Description**
When compiling a bundle via Webpack the following warnings are shown:

[code]

**How to reproduce**
Compile a bundle when importing the routes and stores generated with this package.

**Possible Solution**
Drop the unnecessary braces around the `SubmissionError` import similar to what create/update `act

[2021-01-05 07:59] #249 closed

[2021-01-05 08:22] alOneh commented on #248
Hi @mbrodala, thanks for reporting this issue.
As the entrypoint.js file is generated once, I think we should let people implements their own logic in this file to retrieve the right value for this variable.
Personally, in my project, I prefer using a dot env file containing the right value for the different environments I use.

When you generate your code for the first time you can use the env `A

[2021-01-05 08:32] mbrodala commented on #248
Yeah, I noticed the support for environment variables. But this wouldn't really help in our case since the API is accessed differently via CLI and web as mentioned.

Also my impression so far is that I should be able to drop the generated code at any time and re-generate it to get the latest updates/fixes from the templates of this package. This currently requires me to override the `entrypoint.js

[2021-01-06 00:39] noud opened #251 "InfyOm Laravel Generator API"
**Description**

Generate React/Redux client against an InfyOm Laravel Generator API end-point.
Still generate against an API-Platform API end-point.
And sanitize front end urls.

InfyOm Laravel Generator API end-points are (plain) JSON Swagger,
no JSON-LD no Hydra.

(todo: React Native against an InfyOm Laravel Generator API end-point.)

I like input on this all, so this issue, and will move to a

[2021-01-13 16:42] dunglas commented on #89
We'll promote the Next template (which is already written in TypeScript) instead of the Redux one now. Closing as won't fix.

[2021-01-13 16:42] #89 closed

[2021-01-13 16:49] dunglas opened #252 "Next.js: add forms and delete button"
**Description**

Currently, the Next.js generator only generate the list and show pages. It should also generate create and edit pages, and contain a delete button.

To do so, I suggest to use Formik.

[2021-01-13 16:56] dunglas opened #253 "Next.js: include the JSON-LD response in the body of the page"
**Description**
APIs created with the API component of API Platform return JSON-LD documents. These documents can be used directly by RDF-aware tools, such as the [Google Rich Snippets crawler](https://search.google.com/test/rich-results?utm_campaign=sdtt&utm_medium=code). To expose structured data returned by this API to these tools (and so improve SEO), the only thing we have to do is to copy th

[2021-01-13 16:57] dunglas opened #254 "Next.js: add the JSON-LD to the body element"
**Description**
APIs created with the API component of API Platform return JSON-LD documents. These documents can be used directly by RDF-aware tools, such as the [Google Rich Snippets crawler](https://search.google.com/test/rich-results?utm_campaign=sdtt&utm_medium=code). To expose structured data returned by this API to these tools (and so improve SEO), the only thing we have to do is to copy th

[2021-01-13 16:58] dunglas commented on #254
Duplicated of #253 (problem with GitHub).

[2021-01-13 16:58] #254 closed

[2021-01-13 16:59] dunglas opened #255 "Next.js: use SWR"
**Description**
It could be nice to use the SWR library for data fetching: https://github.com/vercel/swr#ssr-with-nextjs

[2021-01-22 16:46] dunglas opened #257 "Upgrade to commander.js 7"
See https://github.com/tj/commander.js/blob/master/CHANGELOG.md#migration-tips.

[2021-01-22 16:50] dunglas commented on #252
Closed by https://github.com/api-platform/client-generator/pull/256.

[2021-01-22 16:50] #252 closed

[2021-01-22 18:51] dunglas opened #260 "Next.js: generate a <title> element in the head"
**Description**
For a better UX and SEO?

[2021-01-22 20:13] dunglas opened #261 "Next.js: generate better form inputs"
**Description**
The Next.js generator should generate form input similar to the ones generated by the React generator (with proper types, step, Bootstrap class in case of error etc): https://github.com/api-platform/client-generator/blob/master/templates/react/components/foo/Form.js#L32-L37

[2021-01-22 20:24] dunglas opened #262 "Next.js: handle form errors"
**Description**
If the API return an error, the error must be displayed in the form.

[2021-01-22 20:40] dunglas opened #264 "Next.js: Use async/await instead of promises in dataAccess.ts"
**Description**
Use `async`/`await` instead of promises in `dataAccess.ts`.

[2021-01-22 22:29] #264 closed

[2021-01-27 16:15] mbrodala commented on #239
Notice that the actual error in my case was that I renamed the Vuex store module on import which did cause a mismatch. Based on a `MyResource` resource the module was generated as `myresource` which I did import as `myResource` and using the ES shortcut notation lead to `myResource` being used as store module key. Sticking to the import suggested by the generator fixed my issue.

[2021-02-02 20:14] dunglas opened #269 "Next.js: add an example on the website of Next.js"
We should add an example of how to use API Platform with Next on this page https://nextjs.org/docs/basic-features/data-fetching (similar to Wordpress, Strapi... examples).

[2021-02-12 20:20] ersin-demirtas commented on #137
Looking at the dependencies I think there is nothing you can do about these dependencies. Because these dependencies are optional sub dependencies. I can only see fsevents in the dependency tree and I don't see the @expo/* dependencies.

[2021-02-12 21:35] dunglas commented on #137
The usual Node warnings 😉. There is nothing we can do about this.

[2021-02-12 21:35] #137 closed

[2021-02-12 22:48] olessiap opened #271 "issue with running client generator"
api platform 2.6

able to hit api endpoint in browser. Certificates all show as valid.

when trying to run the client generator with
`npx @api-platform/client-generator https://localhost . --generator next --resource modelNumber`

getting the following error:
{ FetchError: request to https://localhost/modelnumbers.jsonld?page=1 failed, reason: unable to get local issuer certificate
    at ClientRe

[2021-02-17 02:44] olessiap commented on #271
this is the error I'm seeing when calling the same localhost endpoint from the pwa app.
Getting a failed reason: connect ECONNREFUSED 127.0.0.1:443

[code]

![image](https://user-images.githubusercontent.com/9263783/108148584-fb0fa580-7085-11eb-9e92-119362e9ac72.png)

Is there any documentation of an example for how to call a localhost endpoint from the pwa app?

[2021-02-17 07:38] dunglas commented on #271
Hi, it's because you're using self-signed certificates in local. See https://api-platform.com/docs/client-generator/troubleshooting/#self-signed-tls-certificate.

[2021-02-17 07:41] dunglas commented on #271
From the inside of the container, you must use `http://caddy` instead of `https://localhost` (the distribution is properly configured by default to handle this case).

[2021-02-23 13:54] deajan commented on #235
Getting the same here trying to get client-generator to work with my FastAPI projects.

Is there any chance someone will have a look ?

Best regards.

Build command line and output:
[code]

[2021-03-02 15:38] crowincage opened #273 "Missing entity in entrypoint with only custom operations defined"
Today I've tried the client generator for vue:

`generate-api-platform-client --generator vue http://domain.tld/api src/`

But I've always got the error

Unable to find the URL for "http://domain.tld/api/docs.jsonld#Entrypoint/MyEntity"

The entity definition is inside a yaml file:

   resources:

      App\Entity\MyEntity:

        collectionOperations:

          indexAction: ...

          crea

[2021-03-16 10:44] AlMuz opened #275 "Unable to generate with new 0.7.0 version"
**API Platform version(s) affected**: 0.7.0

**Description**
Hello, today i tried to generate with this command:
`npx @api-platform/client-generator https://localhost:6789/api . --generator nuxt`
But after some time returned this error

- npm ERR! code ENOENT
- npm ERR! syscall chmod
- npm ERR! path C:\Users\WORK\AppData\Roaming\npm-cache\_npx\14424\node_modules\@api-platform\client-generator\lib\

[2021-03-16 13:35] #275 closed

[2021-03-16 13:57] dunglas commented on #275
Fixed in 0.7.2. Thanks for reporting.

[2021-03-16 13:57] #271 closed

[2021-03-24 12:08] mbrodala opened #279 "Vue pagination not working"
**API Platform version(s) affected**: 2.6.2

**Description**
The pagination in the generated Vue list components is not working.

The API pagination URLs returned as `hydra:*` are used as router links which does not make sense since router links point to components.

**How to reproduce**
Generate the components for an arbitary API resource, create enough entries for the pagination to show up or re

[2021-03-24 14:14] #262 closed

[2021-03-25 16:02] mbrodala opened #280 "Fetch "params" ignored in Vue"
**API Platform version(s) affected**: 2.6.2

**Description**
The `fetch()` function in the Vue template actually accepts a `params` entry in its `options` argument which can be used to pass arbitrary GET parameters. Right now this is completely ignored.

**How to reproduce**
Call `fetch()` from any Vuex store action like this:

[code]

Here a request to `/api/<endpoint>?foo=bar` should be done, bu

[2021-03-26 08:23] #280 closed

[2021-03-29 16:54] johnkhansrc opened #282 "Genrator seem does'nt work with custom API endpoints"
Hi

We want to generate TS interfaces from swagger.
15% of our API is made up of custom API endpoints who represent other ressources this isen't no related to entities.

Ts generator seem to be blocked on the first custom API endpoint.

Custom API endpoints are defined like this :
[code]

![Capture d’écran du 2021-03-29 18-39-25](https://user-images.githubusercontent.com/28094259/112870271-52aa238

[2021-03-31 14:50] Deveosys opened #283 "Nextjs generator - bad ReferenceLinks component import in Show.tsx generated files"
**API Platform version(s) affected**: 2.6.3

**Description**
Component ReferenceLinks is imported as a named export in components/[entity]/Show.tsx but is exported as default in components/common/ReferenceLinks

**How to reproduce**
Fresh install following API Platform "Get started", then run `docker-compose exec pwa generate-api-platform-client`

**Possible Solution**
replace `import { ReferenceL

[2021-04-01 07:35] justinezahiri commented on #283
Thank you for opening the issue @Deveosys, we've corrected this, on main branch :https://github.com/api-platform/client-generator/blob/main/templates/next/components/foo/Show.tsx#L5.

[2021-04-01 20:50] #283 closed

[2021-04-02 02:48] nicodemuz opened #284 "Next.js: SyntaxError: Unexpected token, expected ";" (8:7)"
**API Platform version(s) affected**: 0.7.0

**Description**
Unable to generate code using Next.js generator.

**How to reproduce**

Notification.yaml for API platform:
[code]

Sample execution:
[code]

**Possible Solution**
Possibly requires changes in here: https://github.com/api-platform/client-generator/blob/main/templates/next/components/foo/Form.tsx#L9

**Additional Context**
Similar issue p

[2021-04-18 15:48] pablougas commented on #238
Also getting this error anytime the combobox is cleared

[2021-04-20 17:21] simocheccoli commented on #40
Hi @dunglas, is there the possibility that this angular generator will be developed by core members?

[2021-04-20 20:28] dunglas commented on #40
@simocheccoli I'm not aware of any core member working on this (nor using Angular actually), but we'll be glad to merge a generator if the community contributes one!

[2021-04-21 09:57] simocheccoli commented on #40
@dunglas we can try it!  maybe with @luca-nardelli helps

[2021-05-07 08:06] simocheccoli commented on #40
@dunglas we are creating a dummy angular generator with @luca-nardelli 😄
We also wants to generate a simple material design template angular generator, maybe next week we can sumbit a pr

[2021-05-20 08:56] vincentchalamon opened #288 "Implement Mercure hook"
- Mercure hook: https://github.com/api-platform/demo/blob/main/pwa/utils/mercure.ts
- HubURL from: https://github.com/api-platform/demo/blob/main/pwa/utils/dataAccess.ts#L14-L23 and https://github.com/api-platform/demo/blob/main/pwa/utils/dataAccess.ts#L41-L44
- Usage: https://github.com/api-platform/demo/blob/main/pwa/pages/books/%5Bid%5D/index.tsx

[2021-05-20 08:57] vincentchalamon opened #289 "Update Next.js template for "getStaticPaths""
Example: https://github.com/api-platform/demo/blob/main/pwa/pages/books/%5Bid%5D/index.tsx

[2021-05-31 13:33] artandor commented on #288
Looks very simple and nice to implement ! Hope it'll be merged soon

[2021-06-23 18:32] #288 closed

[2021-06-23 18:32] #289 closed

[2021-06-25 08:36] adrienlucas commented on #282
It seems you have only one GET operation and it is a **collection** one. The error message says you need `at least one GET item operation` so maybe try something like :
[code]

[2021-07-06 14:19] metaclass-nl commented on #261
Then maybe date, time and datetime form input types can be generated too. Here is an example from my [extended react client generator](https://github.com/metaclass-nl/client-generator) (branch [tutorial-chapter3 Form](https://github.com/metaclass-nl/client-generator/blob/tutorial-chapter3/templates/react/components/foo/Form.js)):

[code]
This reacts to property type hints from the entity class at

[2021-08-25 07:37] b2p-fred opened #297 "Client generator fails with a missing module"
**API Platform version(s) affected**: 2.6.x

**Description**
As already reported here: https://github.com/api-platform/api-platform/issues/1800, the client generator ends with an error:
[code]

**How to reproduce**
Run the `npx @api-platform/client-generator` command locally or in a docker container

[2021-10-07 16:15] dunglas opened #305 "Uprade the NuxtJS / Vue.js / Quasar and / Vutify templates to use Vue 3"

[2021-10-17 06:42] pich commented on #305
I'm looking forward to seeing NuxtJS v3 and Composition API support.

[2021-10-20 17:47] Crovitche-1623 opened #309 "Generating Typescript interfaces requires a GET collection operation."
**API Platform version(s) affected**: 2.6.6

**Description**
A GET collection operation (not item operation as specified in error) is required to generate Typescript interfaces. If it's missing, this error occurs:
`Error: Unable to find the URL for "https://localhost:9000/docs.jsonld#Entrypoint/entity", make sure your api resource has at least one GET item operation declared.`
Why is this operatio

[2021-11-03 13:24] wiese commented on #202
I did not know `yarn create` so I did some reading (https://classic.yarnpkg.com/lang/en/docs/cli/create/ / https://classic.yarnpkg.com/blog/2017/05/12/introducing-yarn/).

Interestingly, the repository (not the package, it seems) met the naming convention in the [past](https://github.com/api-platform/client-generator/commit/4940f6b177669a3f65c886be0a555364e9048511).

A special case exists for pack

[2021-11-03 17:45] dunglas commented on #202
Yes that sounds great

[2021-11-15 13:18] dunglas commented on #111
This has been implemented in the Next.js generator.

[2021-11-15 13:18] #111 closed

[2021-11-15 23:52] CedCannes opened #310 "route_prefix crashes the next and nuxt generators"
**API Platform version(s) affected**: 2.6.6

**Description**
the next and nuxt generators return an error if routePrefix is set

**How to reproduce**
Add the routePrefix parameter to the apiResource attribute of an entity.
[code]
or in the `api/config/packages/api_platform.yaml` file
[code]
**Possible Solution**

**Additional Context**
The error appeared for next and nuxt but not the other generat

[2021-11-29 14:50] odoucet commented on #97
hello,
I encountered the same issue on 2.6.5 ; a `get` collection operation is required on all entities for admin to work.
Is this by design for an admin ? Should the error be more verbose in this case ?

[2021-12-29 19:22] ix3bd2 commented on #279
have you found anything ? im facing the same error

[2021-12-29 19:23] ix3bd2 commented on #279
my url is getting the ?page=2
but its not showing page2 in the list

[2021-12-29 20:14] ix3bd2 opened #317 "Paginations not working"
hi,
i generated vue via the command and everything seems to be working fine beside paginations . when i click on next the url changes to {{name}}?page=2 but the page content doesn't change. do you know how i can fix it ?

Thanks!

[2021-12-30 07:49] mbrodala commented on #279
Works fine here as described in *Possible Solution*. However, we don't use the generated client code anymore.

Instead we have a custom pagination component like this:

[code]

This can be embedded anywhere:

[code]

Here `view` is based on the `hydra:view` returned from the API and exposed in the Vuex store module. And `getPage` is the Vuex store action to trigger fetching items. This already has

[2021-12-30 07:49] #279 closed

[2021-12-30 08:17] ix3bd2 commented on #279
Thanks !!! this worked

[2022-01-03 13:33] #317 closed

[2022-01-29 03:34] bhtomming opened #318 "An Error ERR_UNHANDLED_REJECTION"
**API Platform version(2.7) affected**: x.y.z
"vuetify": "^2.4.0","vuex-map-fields": "^1.4.1"
generate-api-platform-client 0.7.3
**Description**

When I run ``npx @api-platform/client-generator -g vuetify https://demo.api-platform.com src/ `` ,it can generator part of resoures ,but  also return an error

**Additional Context**

[code]
[code]

[2022-02-28 19:44] florianajir commented on #218
Still an issue in 2022, react-native client generator is not working with current version, that break the documentation process on expo start step.
React native element is currently in v3.4 and have a v4.0.0-beta

[2022-04-04 12:40] revollat opened #322 "Problem when generating Typescript interface from a fresh dev-main APIP core"
**API Platform version(s) affected**: dev-main (v3)

**Description**
I try to generate typescript interfaces from client-generator tool it work sfind with the demo https://demo.api-platform.com/ but not with my personal instance but I can't make sense of the error message, any heap ?

[code]

[2022-04-07 06:46] krstns commented on #40
Hello. Are there any updates on this?

[2022-04-08 19:59] dunglas commented on #40
No, but a contribution is still very welcome.

[2022-08-04 12:34] Mister6mik commented on #318
Have you solved your issue ?

[2022-08-09 16:31] simocheccoli commented on #40
@dunglas @krstns we are still working about it

[2022-08-22 13:26] #255 closed

[2022-08-22 13:27] #96 closed

[2022-08-22 13:28] #110 closed

[2022-08-22 13:30] #253 closed

[2022-08-23 10:07] #257 closed

[2022-08-23 10:09] alanpoulain commented on #318
I cannot reproduce it in the `main` branch:
![image](https://user-images.githubusercontent.com/10920253/186132251-2d9610b6-dd79-4cf4-a087-3588a8a2d2d0.png)

[2022-08-23 10:09] #318 closed

[2022-08-23 10:13] alanpoulain commented on #251
The API Platform client generator now supports OpenAPI endpoints well.

[2022-08-23 10:13] #251 closed

[2022-08-23 13:03] #236 closed

[2022-08-23 13:06] alanpoulain commented on #235
OpenAPI 3 support has been greatly improved in the client generator (and the [underlying library](https://github.com/api-platform/api-doc-parser)) since https://github.com/api-platform/api-doc-parser/pull/108.
There should no be major issue now.

[2022-08-23 13:06] #235 closed

[2022-08-23 13:06] alanpoulain commented on #198
OpenAPI 3 support has been greatly improved in the client generator (and the [underlying library](https://github.com/api-platform/api-doc-parser)) since https://github.com/api-platform/api-doc-parser/pull/108.
There should no be major issue now.

[2022-08-23 13:06] #198 closed

[2022-08-23 13:07] alanpoulain commented on #223
OpenAPI 3 support has been greatly improved in the client generator (and the [underlying library](https://github.com/api-platform/api-doc-parser)) since https://github.com/api-platform/api-doc-parser/pull/108.
There should no be major issue now.

[2022-08-23 13:07] #223 closed

[2022-08-23 13:11] #211 closed

[2022-08-23 13:13] #210 closed

[2022-08-23 13:13] #199 closed

[2022-08-23 13:17] alanpoulain commented on #135
Duplicates https://github.com/api-platform/client-generator/issues/202.

[2022-08-23 13:17] #135 closed

[2022-08-23 13:20] #126 closed

[2022-08-23 13:21] alanpoulain commented on #104
OpenAPI 3 support has been greatly improved in the client generator (and the [underlying library](https://github.com/api-platform/api-doc-parser)) since https://github.com/api-platform/api-doc-parser/pull/108.
There should no be major issue now.

[2022-08-23 13:21] #104 closed

[2022-08-23 13:23] #68 closed

[2022-08-23 13:24] #52 closed

[2022-08-23 13:30] alanpoulain opened #330 "[Next] Replace Formik by React Hook Form"
For the Next.js generator only.
Formik [is not actively maintained anymore](https://github.com/jaredpalmer/formik/issues/3601).
We should replace it with [React Hook Form](https://github.com/react-hook-form/react-hook-form), the best alternative.

[2022-08-23 14:03] alanpoulain opened #331 "[React] Modernize the code"
For React generator only.

Use Context API instead of Redux. Or maybe Redux Toolkit.
Use React Hook Form instead of Redux Form.
Upgrade React Router.
Use hooks.

[2022-08-23 14:05] alanpoulain opened #332 "[Next.js] SSR for list pages"
Currently SSR does not take into account the pagination: the generated HTML after the first page is wrong.
It should take into account the `page` query parameter to render the page.

[2022-08-24 09:09] alanpoulain opened #333 "Make sure all Mercure implementations have the same behavior"
Mercure implementations should:
- retrieve the hub URL from the response
- subscribe all topics in the same event source in the list (not the case in the Next.js implementation)
- correctly remove an item in the list when it is deleted
- unsubscribe when the component is unmounted
- correctly go back to the list when an item is deleted while in the show page

[2022-08-24 09:22] dunglas commented on #331
I propose to deprecate this generator in favor of the Next.js one instead. The only issue I see with Next is that it isn't compatible with React Native.

[2022-08-24 09:39] alanpoulain opened #334 "Do not normalize nested resources"
Nested resources should not be normalized when fetched but instead the id should only be used at the last time possible.

[2022-08-24 09:40] alanpoulain commented on #331
Don't you think some people prefer a simple React app instead of a Next.js one?

[2022-08-24 20:38] dunglas commented on #331
It's harder to maintain for no real benefits IMHO. People with specific needs can create and maintain they own templates.

[2022-08-25 08:28] alanpoulain opened #335 "Use TypeScript for all generator"
TypeScript should be the default for all the generators.

[2022-08-25 09:48] #100 closed

[2022-08-29 10:15] alanpoulain commented on #310
Fixed by https://github.com/api-platform/client-generator/pull/336.

[2022-08-29 10:15] #310 closed

[2022-08-29 10:15] alanpoulain commented on #284
Fixed by https://github.com/api-platform/client-generator/pull/336.

[2022-08-29 10:15] #284 closed

[2022-09-09 21:12] #202 closed

[2022-09-14 13:56] Florian-Rowehy opened #341 "api-platform/client not working: Client network socket disconnected before secure TLS connection was established"
**API Platform version(s) affected**: 3.0.0

**Description**
2 weeks ago I started a new project using the API Platform distribution.

I tried to use the create-client library.
While reading the 2.7 documentation I discovered that `pnpm` was not installed.
So I upgraded the pwa dockerfile and the whole pwa folder to the latest version.
I have not added any other file, the pwa is a strict copy of t

[2022-10-11 17:50] Sirs0ri opened #343 "Feature Request: Support Vue/Quasar state management with Pinia"
**Description**

The Vue and Quasar generators both rely on VueX for state management, which has not been the recommended solution for Vue state management for almost a year now. Instead it's recommended to use [Pinia](https://pinia.vuejs.org/introduction.html), also developed by the Vue core team, and VueX is in "maintenance mode", no longer receiving new features.

Pinia supports both Vue 2 and

[2022-10-11 20:24] dunglas commented on #343
It would be nice to upgrade the generators to use Pinia instead of Vuex. PR welcome!

[2022-10-20 10:09] aymaneabssi opened #344 "Why aren't hydra and openapi3 generating the same components"
Description
here I am testing the client generator and I am noticing that the hydra generates only this
`Interface for the "Book" resource type has been generated!

Interface for the "Review" resource type has been generated!

Interface for the "TopBook" resource type has been generated!`

and the openapi3 generate this:
`Interface for the "Book" resource type has been generated!;

Interface for t

[2022-10-20 15:07] alanpoulain commented on #344
Deprecated resources are filtered by default:
https://github.com/api-platform/create-client/blob/d791b8e316916a3e9db8005d08d090fd04b00c4f/src/index.js#L123
However the `api-doc-parser` should be able to mark the `Parchment` resource as deprecated as well:
https://github.com/api-platform/api-doc-parser/blob/895cd81e4208c8c70a7383f65cefc31f1706c353/src/openapi3/handleJson.ts#L124
Transfering this is

[2022-10-29 08:46] dunglas opened #346 "Use Next 13 in the generator"
**Description**
The Next generator must output code compatible with Next 13: https://nextjs.org/blog/next-13

The API Platform distribution must also be updated to ship Next 13.